/* Coolors Exported Palette - coolors.co/0a1128-ce4257-f49390-2b3a67-fff3b0 */

/* HSL */
$color1: hsla(226%, 60%, 10%, 1);
$color2: hsla(351%, 59%, 53%, 1);
$color3: hsla(2%, 82%, 76%, 1);
$color4: hsla(225%, 41%, 29%, 1);
$color5: hsla(51%, 100%, 85%, 1);

/* RGB 1*/
$color1: rgba(10, 17, 40, 1);
$color2: rgba(206, 66, 87, 1);
$color3: rgba(244, 147, 144, 1);
$color4: rgba(43, 58, 103, 1);
$color5: rgba(255, 243, 176, 1);

/* RGB 2*/
$color1: rgba(34, 56, 67, 1);
$color2: rgba(206, 66, 87, 1);
$color3: rgba(244, 147, 144, 1);
$color4: rgba(43, 58, 103, 1);
$color5: rgba(255, 243, 176, 1);