/* Coolors Exported Palette - coolors.co/19323c-ce4257-f3f7f0-2b3a67-fff3b0 */

/* HSL */
$color1: hsla(197%, 41%, 17%, 1);
$color2: hsla(351%, 59%, 53%, 1);
$color3: hsla(94%, 30%, 95%, 1);
$color4: hsla(225%, 41%, 29%, 1);
$color5: hsla(51%, 100%, 85%, 1);

/* RGB */
$color1: rgba(25, 50, 60, 1);
$color2: rgba(206, 66, 87, 1);
$color3: rgba(243, 247, 240, 1);
$color4: rgba(43, 58, 103, 1);
$color5: rgba(255, 243, 176, 1);